body{
    background-color: red;
}

.accordion{
    width: 30vw;
    height: 100vh;
}


.icon{
    height: 20px;
}

#kuva{
    background-image: url(/images/Eetu.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    height: 400px;
    width: 400px; 
}