body{
    background-color: black;
}

.container{
    background-image: url(/images/BackgroundImage.jpg);
    background-size: auto;
    background-repeat: no-repeat;
}

.accordion{
    width: 30vw;
    height: 100vh;
}


.icon{
    height: 20px;
}

#kuva{
    
    background-image: url(/images/Eetu.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 45vh;
    width: 45vw;
}

#infobox{
    display: inline-block;
    color: white;
}
