.videoFrame{
    height: 315px;
    width: 30%vw;

}

.navbar{
    margin-bottom: 50px;
}
body{
    background-image: url(/images/BackgroundImage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
}
.icon{
    height: 20px;
}
.img-fluid{
    margin:10px;
    display: flex;
    width: 20vw;
}

.img-fluid:hover{
    
    border: solid red 10px;
    opacity: 40%;
}
