
.navbar{
    margin-bottom: 20px;
}
body{
    background-image: url(/images/BackgroundImage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
}
.icon{
    height: 20px;
}
.img-fluid{
    margin:10px;
    display: flex;
    width: 10vw;
}

.img-fluid:hover{
    
    border: solid red 10px;
    border-radius: 10px;
    opacity: 40%;
}

.text{
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.5rem;
    font-style: italic;
    color: rgb(133, 158, 23);
}

/* ------------------------------ */
/* video playerin tyylit */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    }
    
    .modal-content {
    background-color: #000000;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    }
    
    .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    }

#clickKuva{
    height: 200px;
    border: solid black 5px;
    border-radius: 10px;
    margin: 10px;
}
#clickKuva2{
    height: 200px;
    border: solid black 5px;
    border-radius: 10px;
    margin: 10px;
}