
.navbar{
    margin-bottom: 20px;
}
body{
    background-image: url(/images/BackgroundImage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
}
.icon{
    height: 20px;
}
.img-fluid{
    margin:10px;
    display: flex;
    width: 10vw;
}

.img-fluid:hover{
    
    border: solid red 10px;
    border-radius: 10px;
    opacity: 40%;
}

.text{
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.5rem;
    font-style: italic;
    color: rgb(133, 158, 23);
}
